

#search {
    -webkit-border-radius: 10px;
    display: none;
}


#body {

}
table.sortable {
    background-color: white;
    -webkit-border-radius: 10px;
    width: 100%;
}
th.sortable {
    color: #666;
    cursor: pointer;
    text-decoration: underline;
}
th.sortable:hover { color: black; }
th.sorted-asc, th.sorted-desc  { color: black; }

td.sortable {
    background-color: white;
}
td.odd {
    background-color: #DDDDDD;
}

td.hovered {
  background-color: #99C9FF;
  color: #666;
}